---
import type { GetStaticPaths } from "astro";

import MainLayout from "layouts/MainLayout.astro";
import type { Pokemons } from 'interfaces/Pokemons';
import PokemonCard from "components/Pokemon/PokemonCard.astro";


export const getStaticPaths = (async({paginate}) => {

  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const {results} = (await resp.json()) as Pokemons;
  
  return paginate(results, {pageSize: 20});

}) satisfies GetStaticPaths;

const {page} = Astro.props;

---

<MainLayout title="Pokémons">
  <h1 class="text-3xl font-bold p-5">Pokémons</h1>
  <hr/>
  <section aria-label="Listado de Pokémons" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-6 gap-4 mt-5">
    {
      page.data.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
  <section class="mt-10 flex gap-3 items-center">
    <a href={page.url.prev} class="bg-blue-600 p-2 text-white rounded-md">Anteriores</a>
    <a href={page.url.next} class="bg-blue-600 p-2 text-white rounded-md">Siguientes</a>
    <div class="flex flex-1 justify-end">
      <span class="font-bold">Página {page.currentPage}</span>
    </div>
  </section>
</MainLayout>