---
import { ViewTransitions } from 'astro:transitions';
import NavBar from 'components/shared/NavBar.astro';


interface Props {
	title: string;
	image?: string;
	description?: string;
}

const {title, description, image}: Props = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- SEO -->
		 <meta name="description" content={description} />
		 <meta name="author" content="Adolfo Reyes" />

		 <!-- OG Metatags -->
		  <meta property="or:title" content={title} />
		  <meta property="or:description" content={description} />
		  <meta property="or:image" content={image} />

		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body class="bg-slate-800 text-slate-100">
		<NavBar />
		<main class="mt-5 mb-10 m-auto max-w-3xl">
			<slot/>
		</main>
	</body>
</html>
